################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/WellTool.Http/bin
/src/WellTool.Http/obj
/src/.vs/WellTool
/src/ClassLibrary1/obj
/src/ClassLibrary1/bin
/src/WellTool.Captcha/bin
/src/WellTool.Captcha/obj
/src/Captcha.Tests/obj
/src/Captcha.Tests/bin
/src/WellTool.Setting/bin
/src/WellTool.Setting/obj
/src/WellTool.Setting.Tests/bin
/src/WellTool.Setting.Tests/obj
/src/.vs/ProjectEvaluation
/src/WellTool.Captcha.Tests/bin
/src/WellTool.Captcha.Tests/obj
/src/WellTool.Setting.Tests/bin
/src/WellTool.Setting/bin
/src/WellTool.Captcha/Captcha.Tests/obj
/src/WellTool.Setting.Tests/WellTool.Setting.Tests/bin
/src/WellTool.Http/bin
/src/WellTool.Http.Tests/bin
/src/WellTool.Http.Tests/obj
/src/WellTool.Http.Tests/obj
/src/WellTool.AI/obj
/src/WellTool.AI/bin
/src/WellTool.AI.Tests/bin
/src/WellTool.AI.Tests/obj
/src/WellTool.Aop/bin
/src/WellTool.Aop/obj
/src/WellTool.Aop.Tests/bin
/src/WellTool.Aop.Tests/obj
/src/WellTool.AI/bin
/src/WellTool.Aop/bin
/src/WellTool.BloomFilter/obj
/src/WellTool.AI/bin
/src/WellTool.BloomFilter/bin
/src/WellTool.BloomFilter.Tests/bin
/src/WellTool.BloomFilter.Tests/obj
/src/WellTool.BloomFilter.Tests/bin
/src/WellTool.BloomFilter.Tests/obj
/src/WellTool.Bom/bin
/src/WellTool.Bom/obj
/src/WellTool.Cache/bin
/src/WellTool.Cache/obj
/src/WellTool.Core/obj
/src/WellTool.Core/bin
/src/WellTool.Log/obj
/src/WellTool.Log/bin
/src/WellTool.Core.Tests/bin/Debug/net8.0
/src/WellTool.Core.Tests/obj
/src/WellTool.Socket/obj
/src/WellTool.System/obj
/src/WellTool.Socket/bin/Debug/net8.0
/src/WellTool.System/bin/Debug
/src/WellTool.Log.Tests/bin/Debug/net8.0
/src/WellTool.Log.Tests/obj
/src/WellTool.Socket.Tests/bin/Debug/net8.0
/src/WellTool.Socket.Tests/obj
/src/WellTool.System.Tests/bin/Debug/net8.0
/src/WellTool.System.Tests/obj
/src/WellTool.Json/obj
/src/WellTool.Json/bin/Debug
/src/WellTool.Json.Tests/obj
