################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/WellTool.Http/bin/Debug/net8.0
/src/WellTool.Http/obj
/src/.vs/WellTool
/src/ClassLibrary1/obj
/src/ClassLibrary1/bin
/src/WellTool.Captcha/bin
/src/WellTool.Captcha/obj
/src/Captcha.Tests/obj
/src/Captcha.Tests/bin/Debug/net8.0
/src/WellTool.Setting/bin/Debug/net8.0
/src/WellTool.Setting/obj
/src/WellTool.Setting.Tests/bin/Debug/net8.0
/src/WellTool.Setting.Tests/obj
/src/.vs/ProjectEvaluation
/src/WellTool.Captcha.Tests/bin/Debug
/src/WellTool.Captcha.Tests/obj
/src/WellTool.Setting.Tests/bin/Debug/net6.0
/src/WellTool.Setting/bin/Debug
/src/WellTool.Captcha/Captcha.Tests/obj
/src/WellTool.Setting.Tests/WellTool.Setting.Tests/bin/Debug/net8.0/TestData
/src/WellTool.Http/bin/Debug
/src/WellTool.Http.Tests/bin/Debug/net8.0
/src/WellTool.Http.Tests/obj/Debug/net8.0
/src/WellTool.Http.Tests/obj
