################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/WellTool.Http/bin/Debug/net8.0
/src/WellTool.Http/obj
/src/.vs/WellTool
